body{
    font-family: "Roboto";
}

.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

img.mobile-logo{
    height: 50px;

}
main{
    display: flex;
    flex-wrap: wrap;
}

aside{
    width: 80px;
    height: calc(100vh - 82px);
    background-image: url(../img/sidebar-bg.png);
    background-color: #11283f;
}

.main_container{
    width: calc(100% - 80px);
    height: calc(100vh - 82px);
    overflow-y: scroll;
}


.my_gray{
    background-color: #e5e5e5;
}

.my_bg-blue{
    background-color:#1b72e8 ;
}

.bg_orange{
    background-color:#f26551;
    padding: .5rem;
    border-radius: 50%;
}

.done{
    background-color: #198754;
    padding: .2rem;
    color: white;
    border-radius: 5px;
}

.process{
    background-color: #ffc107;
    padding: .2rem;
    color: white;
    border-radius: 5px;
}

.failed{
    background-color: #dc3545;
    padding: .2rem;
    color: white;
    border-radius: 5px;
}

.icon_gray{
    border: 1px solid #6c757d;
    border-radius: .5rem;
    padding: .5rem;
    margin-left: .5rem;
}
.my_bg-dark{
    background-color:#165bba;
}

.rounded-pill{
    font-size: .8rem;
}


span.icon_gray{
    color:#6c757d;
}

.orange{
    color: #ff8f00;
}

ul li{
    list-style-type: none;
}

aside{
    width: 80px;
    
}

@media  screen and(min-width: 576px){
    .invisible{
        display: none;
    }
    
    
}

@media  screen and(min-width: 768px){
    .invisible{
        display:inline-block;
    }

    
}

@media screen and (min-width: 992px){
    aside{
        width: 140px;
        height: calc(100vh - 82px);
        background-image: url(../img/sidebar-bg.png);
        background-color: #11283f;
    }
    
    .main_container{
        width: calc(100vw - 140px);
        height: calc(100vh - 82px);
        overflow-y: scroll;
    }
}

